.cloud-container {
    position: relative;
    perspective: 1000px;
    /*??*/
}

.cloud {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%) translateZ(0);
    z-index: -1;
    width: 400px;
    height: 300px;
    background: url('img/cloud.png') no-repeat center center;
    background-size: cover;
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0%, 100% { transform: translate(-50%, -50%) translateZ(0) translateY(0); }
    50% { transform: translate(-50%, -50%) translateZ(0) translateY(-10px); }
}

