.experience {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.experience div, .projects div {
    transition: 1s ease;
}

.experience div:hover, .projects div:hover {
    transform: scale(1.02);
    transition: .5s ease;
    text-shadow: 2px 2px #bc9bff;
}

.experience > div > div:hover, .projects > div > div:hover {
    box-shadow: 1px 1px 5px #a587e0;
}

.resume img {
    max-width: 130%;
    max-height: 130%;
    object-fit: cover;
}

.tabletop img {
    max-width: 180%;
    max-height: 180%;
    object-fit: cover;
    position: relative;
}

.resume a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.tabletop a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.resume-container, .tabletop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    margin-top: -15px;
    font-weight: lighter;
    font-size: 15px;
    margin-left: -100px;
}
