.hobbies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20vw;
    text-align: left;
}

.hobbies h1 {
    text-align: left;
    padding: 0;
    margin: 0;
}

.hobbies h2 {
    text-align: center;
    padding: 0;
    margin-top: 1vw;
    margin-bottom: 3vw;
}
.columns {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    align-items: center;
    justify-content: center;
    text-align: left;
}

.consoles, .photos, .arts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.art1, .art2, .photo1, .photo2, .console1, .console2 {
    display: flex;
    flex-direction: row;
    background-color: #e5c8ea;
    height: 15vw;
    width: 20vw;
    border-radius: 20px;
}
