.hobbies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20vw;
    text-align: center;
    background: rgba(238, 220, 191, 0.16);
    padding: 3vw 8vw 10vw;
    border: 5px dashed rgba(93, 79, 93, 0.4);
    box-shadow: 0 0 30px 10px rgba(255, 235, 210, 0.35);
    border-radius: 5%;
}
.hobbies h1 {
    text-align: left;
    padding: 0;
    margin: 0;
    font-size: 4vw;
}
.hobbies h2 {
    text-align: center;
    padding: 0;
    margin-top: 3vw;
    margin-bottom: 2vw;
    font-size: 2vw;
    background-color: rgba(255, 250, 255, 0.41);
    box-shadow: 0 0 5px 5px rgb(245, 238, 245);
}
.hobbies p {
    background-color: rgba(248, 243, 250, 0.99);
    padding: .5vw;
    border-radius: .5vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    height: fit-content;
    width: 16vw;
    text-align: center;
    /*box-shadow: 0 0 30px 5px rgba(253, 253, 253, 0.52);*/
    z-index: 2;
}

.columns {
    display: grid;
    grid-template-columns: .5fr .5fr .5fr;
    gap: 5vw;
    justify-content: center;
}

.consoles, .photos, .arts {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.art1:hover, .art2:hover, .photo1:hover, .photo2:hover, .console1:hover{
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    scale: 97%;
}
.art1, .art2, .photo1, .photo2, .console1 {
    display: flex;
    flex-direction: column;
    background-color: rgba(217, 180, 121, 0.44);
    box-shadow: 0 0 30px 3px rgb(229, 210, 188);
    border: 1px dotted rgb(240, 232, 248);
    height: 15vw;
    width: 15vw;
    align-items: center;
    border-radius: 20px;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
}

.columns img {
    position: absolute;
    width: 13vw;
    height: 13vw;
    border-radius: 10%;
    margin-top: 1.5vw;
    align-self: center;
    box-shadow: 0 0 30px 10px rgb(245, 238, 234);

    opacity: 80%;
}

.subPhoto1, .subPhoto2, .subPhoto3, .subPhoto4 {
    display: none;
}
