.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.linkedIn, .github, .instagram, .email {
    width: 20px;
    height: 20px;
    transition: 1s ease;
}

.icons div:hover {
    filter: brightness(0) saturate(100%) invert(9%) sepia(87%) saturate(7456%) hue-rotate(276deg) brightness(72%) contrast(110%);
    transform: scale(1.3);
    transition: 1s ease;
}
