.icons {
    display: flex;
    justify-content: center; /* or space-around, flex-start, center */
    gap: 20px; /* spacing between icons */
}

.linkedIn, .github, .instagram, .email {
    width: 20px;
    height: 20px;
}
