.projects {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin-bottom: 150px;
}

.website, .box, .resume, .tabletop, .htc, .blender, .gos, .cse{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    margin: 20px;
    overflow: hidden;
    border-radius: 15px;
    border: 1px dashed rgba(0, 0, 0, 0.42);
}

.website img, .htc img, .blender img, .gos img, .cse img {
    max-width: 130%;
    max-height: 130%;
    object-fit: cover;
}

.cse img {
    margin-right: 20px;
}

.gos img {
    margin-right: -10px;
}

.htc img {
    margin-right: -25px;
}

.website a, .htc a , .blender a, .gos a, .cse a{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.website-container, .htc-container, .blender-container, .gos-container, .blender-container, .cse-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects p {
    margin-top: -10px;
    font-weight: lighter;
    font-size: 15px;
    margin-left: -50px;
    margin-bottom: 0px;
}

.projects h3 {
    font-size: 13px;
    margin-top: 5px;
    margin-left: -25px;

}

