.projects {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    margin-bottom: 150px;
}

.website, .box, .resume, .tabletop, .htc, .blender{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    margin: 20px;
    overflow: hidden;
    border-radius: 15px;
    border: 1px dashed rgba(0, 0, 0, 0.42);
}

.website img, .htc img, .blender img {
    max-width: 130%;
    max-height: 130%;
    object-fit: cover;
}

.website a, .htc a , .blender a{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.website-container, .htc-container, .blender-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*text for tabletop*/
.ptabletop {
    margin-top: -15px;
    font-weight: lighter;
    font-size: 15px;
    margin-left: -50px;
}

.h3tabletop {
    font-size:  0.9em;
    margin-top: -10px;
    position: relative;
    left: -5px;
    /*font-style: oblique;*/
}

/*text for HTC*/
.phtc {
    margin-top: -15px;
    font-weight: lighter;
    font-size: 15px;
    margin-left: -40px;
}

.h3htc {
    font-size:  0.9em;
    margin-top: -10px;
    position: relative;
    left: -2px;
    /*font-style: oblique;*/
}

/*text for Blender Projects!*/
.pblend {
    margin-top: -15px;
    font-weight: lighter;
    font-size: 15px;
    margin-left: -65px;
}

.h3blend {
    font-size:  0.9em;
    margin-top: -10px;
    position: relative;
    left: -85px;
    /*font-style: oblique;*/
}

