.odd {
    border-radius: 2% 5% 5% 2%;
}
.even{
    border-radius: 5% 2% 2% 5%;
}

.star1 {
    display: block;
    position: absolute;
    z-index: 3;
    rotate: 280deg;
    top: 4vw;
    margin-left: 42%;
}
.star1 img{
    width: 5vw;
}
.star2 {
    display: block;
    position: absolute;
    z-index: 3;
    rotate: 0;
    bottom: 13.5vw;
    margin-right: 37%;
}
.star2 img{
    width: 8vw;
}

.tommy{
    position: relative;
    overflow: hidden;
    justify-items: center;
    align-items: center;
    width: 55%;
    display: grid;
    border-radius: 11%;
    border: .3vw rgb(234, 224, 206) dashed;
    z-index: 2;
}
.tommy img{
    display: block;
    width: 98%;
    height: 98%;
    border-radius: 10%;
    grid-column: 1;
    grid-row: 1;
}
.tommy::after{
    /*box-shadow: inset 5px 5px 5px 1px rgba(0, 0, 0, 0.5);*/
    box-shadow: inset 0 0 10px 10px rgba(16, 5, 37, 0.54);
    width: 98%;
    height: 98%;
    content: '';
    display: block;
    border-radius: 10%;
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
}
.scrapbook {
    position: relative;
    flex-direction: row;
}
.flipbook {
    width: 90%;
    height: 40vw;
    padding-bottom: 10vw;
    align-self: center;
}
.flipbook .hard {
    background: #8e9dd4 !important;
    height: 40vw;
    border-radius: 1% 4% 4% 1%;
}
.hard::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Syntax: inset | h-offset | v-offset | blur | spread | color */
    box-shadow: inset 0 0 30px 10px rgb(10, 11, 47);
    border-radius: 1% 4% 4% 1%;

    /*texture*/
    background-image: url("Pics/scrapbook.jpg");
    mix-blend-mode: multiply;
    background-repeat: repeat;
    opacity: .30;
    z-index: 1 !important;
}
.flipbook .page {
    background: #ffffff;
    height: 48vw;
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    gap: 10px;
    border: 1px dashed rgba(58, 53, 53, 0.35);
    /*border-radius: 2% 5% 5% 2%;*/
}
.flipbook h1 {
    font-family: "scrapbook";
    font-size: 4vw;
    color: #52457a;
    /*-webkit-text-stroke: 1px rgba(0, 0, 0, 0.55);*/
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    border: #5b619a solid 1px;
    padding: 3%;
    margin-top: 5%;
    box-shadow: inset 0 0 10px 10px rgb(173, 182, 213);
    z-index: 2;
}
.page h2 {
    font-size: 2vw;
    color: #92b9ac;
    margin-top: -8%;
    margin-bottom: 2%;
}

.label {
    display: flex;
    position: absolute;
    bottom: 60%;
    left: 10vw;
    z-index: 0;
}
.gardenofstars p {
    text-align: left;
    font-weight: bold;
    font-size: 1.1vw;
    color: #92b9ac;
    background-color: rgba(12, 8, 23, 0.64);
    padding: .5vw;
    border-radius: .3vw;
    margin-top: 1vw;
}
.gardenofstars {
    background-image: url("Pics/GardenOfStars/bg.jpg") !important;
    background-size: 350px 350px !important;

    background-repeat: repeat;
}
.gardenofstarsContent {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 2vw;
    margin-right: 1vw;
    gap: 5%;
}
/*GOS logo*/
.gardenofstars img {
    width: 35vw;
    margin-top: -3%;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
}
.gardenofstars img:hover {
    position: relative;
    scale: 95%;
    cursor: pointer;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
}
.gardenofstarsScreenshots {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    margin-top: 1.5vw;
}
.gardenofstarsScreenshots img {
    width: 100%;
}
.gardenofstarsScreenshots img:hover {
    scale: 100%;
    cursor: auto;

}
