.steamGame {
    width: 101%;
    height: 30vw;
    background-color: var(--textbox);
    margin-top: 8%;
    margin-bottom: 10%;
}

.steamText{
    width: 100%;
    display: grid;
    padding-top: 3%;
    grid-template-columns: repeat(2,1fr);
}

.steamText > p {
    text-align: left;
    margin-left: 8%;
}

.steamGame iframe {
    padding-left: 10%;
}

