body {
    display: flex;
    background-color: #eee6fc;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

@font-face {
    font-family: 'chunky';
    src: url('fonts/chunky.ttf') format('truetype');
}

h1,p,h2 {
    text-align: center;
    color: #3a3535;
    font-family: "chunky";
}

h1 {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 0;
    margin-top: 120px;
}

p {
    font-size: 20px;
    line-height: 1;
    margin-top: 10px;
    font-style: italic;
}

h2 {
    font-size: 20px;
    margin-top: 50px;
}