body {
    display: flex;
    /*background-color: #eee6fc;*/
    align-items: center;
    flex-direction: column;
    margin: 0;
    background: linear-gradient(
            to bottom,
            white 0%,
            #ffefef 10%,
            #eee6fc 40%,
            #eee6fc 100%
    );
}


@font-face {
    font-family: 'chunky';
    src: url('fonts/chunky.ttf') format('truetype');
}

@font-face {
    font-family: 'header';
    src: url('fonts/Lobster-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'paragraph';
    src: url('fonts/Lato-Italic.ttf') format('truetype');
}

p {
    text-align: center;
    color: #1a0046;
    font-family: "chunky";
    font-size: 20px;
    line-height: 1;
    margin-top: 10px;
    font-style: italic;
}

h1 {
    font-family: 'header';
    color: #1a0046;
    font-size: 50px;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 0;
    margin-top: 120px;
    text-align: center;
}

h2 {
    margin-top: 80px;
    font-family: 'header';
    color: #1a0046;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: 10px;
    text-align: center;
}

h3 {
    font-size: 15px;
    font-family: 'paragraph';
    color: #1a0046;
}



