/* Default styles for PC */
body {
    display: flex;
    background-color: #eee6fc;
    align-items: center;
    flex-direction: column;
    margin: 5vw;
    margin-top: 0px;
}

.header img {
    margin-top: 0;
    width: 616px;
    height: 320px;
    margin-bottom: 50px;
}

.text-intro {
    text-align: left;
    margin-left: -30px;
}

.text-middle {
    text-align: left;
    margin-left: -110px;
}

.text-tokens {
    text-align: left;
    margin-left: -420px;
}

.text-play {
    text-align: left;
    margin-left: -110px;
    margin-bottom: 100px;
}

h3 {
    font-size: 15px;
    margin-top: -10px;
    text-align: left;
}

h2 {
    font-size: 20px;
    margin-top: 20px;
    text-align: left;
}

p {
    font-size: 15px;
    margin-bottom: 20px;
    text-align: left;
    font-style: italic;
}

/* Hyperlink customization */
a {
    text-decoration: underline;
    background-image: linear-gradient(to right, #0051ff, #862ee5);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.3s ease;
}

a:hover {
    color: #0051FFFF;
}

.cards img {
    margin-top: 50px;
    width: 620px;
    height: 390px;
    margin-bottom: 20px;
}

.tokens img {
    margin-top: 50px;
    width: 620px;
    height: 390px;
    margin-bottom: 20px;
}

.play img {
    margin-top: 50px;
    width: 620px;
    height: 350px;
    margin-bottom: 20px;
}

/* Responsive Table */
.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

/* Styles for mobile devices */
@media (max-width: 768px) {
    body {
        margin: 10px;
    }

    .header {
        width: 100vw;
        margin-top: -10px;
    }

    .header img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .text-intro, .text-middle, .text-tokens, .text-play {
        margin-left: 0;
        padding: 0 15px;
    }

    h2, h3, p {
        font-size: 16px;
    }

    .cards img, .tokens img, .play img {
        width: 100%;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .table-wrapper {
        overflow-x: auto;
    }
}